// top.js
.grey_bg{
	height: 36px;
}

.headtop{
	height: 110px;
	line-height: 100px;
	overflow: hidden;
	background-color: #fff;
	.a{
		margin-left: 30px;	
	}
	.left{
		font-size: 18px;
		font-weight: bold;
		a{
			padding: 10px;
			color:#000;
			margin-left: 16px;
		}
	}
	.input{
		width: 304px;
		height: 34px;
		border: 2px solid #00A4FF;
		margin: 35px 30px 0 30px;
		position: relative;
		input{
			width: 250px;
			height: 30px;
			border: 0;
			line-height: 30px;
			padding-left: 10px;
		}
		.search{
			width: 50px;
			height: 30px;
			line-height: 30px;
			color: #fff;
			font-size: 15px;
			border: 0;
			background-color: #00A4FF;
			position: absolute;
			right: -1px;
		}
	}
	.right{
		a{
			color: #666;
			font-size: 14px;
			margin-left: 25px;
		}
		.signout{
			color: #000;
		}
	}
}