.index{
	// background-color: #f2f2f2;
	padding-bottom: 30px;
	.summary{
		height: 130px;
		background-color: #ccc;
		margin-top: 30px;
	}
	.home-module-1{
		margin: 30px auto;
		display: flex;
		justify-content: space-between;
		.investor{
			height: 436px;
			width: 386px;
			background-color: #fff;
		}
	}
	.carousel {
		min-width: 1300px;
		width: 99vw;
		margin: 0 auto;
	}
}

.index :global(.ant-carousel .slick-slide) {
	text-align: center;
	height: 400px;
	line-height: 400px;
	background: #364d79;
	overflow: hidden;
	h3{
		color: #fff;
	}
}